[submodule ".config/nvim/pack/bundle/opt/base16-vim"]
	path = .config/nvim/pack/bundle/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim/
[submodule ".config/nvim/pack/bundle/opt/deoplete-lsp"]
	path = .config/nvim/pack/bundle/opt/deoplete-lsp
	url = https://github.com/Shougo/deoplete-lsp
[submodule ".config/nvim/pack/bundle/opt/deoplete.nvim"]
	path = .config/nvim/pack/bundle/opt/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".config/nvim/pack/bundle/opt/loupe"]
	path = .config/nvim/pack/bundle/opt/loupe
	url = https://github.com/wincent/loupe
[submodule ".config/nvim/pack/bundle/opt/nvim-lsp"]
	path = .config/nvim/pack/bundle/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
[submodule ".config/nvim/pack/bundle/opt/pinnacle"]
	path = .config/nvim/pack/bundle/opt/pinnacle
	url = https://github.com/wincent/pinnacle
[submodule ".config/nvim/pack/bundle/opt/ultisnips"]
	path = .config/nvim/pack/bundle/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".config/nvim/pack/bundle/opt/vim-clang-format"]
	path = .config/nvim/pack/bundle/opt/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".config/nvim/pack/bundle/opt/vim-fugitive"]
	path = .config/nvim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/pack/bundle/opt/vim-vinegar"]
	path = .config/nvim/pack/bundle/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".zsh/vendor/base16-shell"]
	path = .zsh/vendor/base16-shell
	url = https://github.com/chriskempson/base16-shell
	ignore = dirty
[submodule ".zsh/vendor/zsh-autosuggestions"]
	path = .zsh/vendor/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	ignore = dirty
[submodule ".zsh/vendor/zsh-syntax-highlighting"]
	path = .zsh/vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	ignore = dirty
[submodule ".zsh/vendor/fzf"]
	path = .zsh/vendor/fzf
	url = https://github.com/junegunn/fzf
