[submodule "base16-vim"]
	path = .config/nvim/pack/bundle/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim/
[submodule "deoplete"]
	path = .config/nvim/pack/bundle/opt/deoplete
	url = https://github.com/Shougo/deoplete.nvim
[submodule "deoplete-lsp"]
	path = .config/nvim/pack/bundle/opt/deoplete-lsp
	url = https://github.com/Shougo/deoplete-lsp
[submodule "nvim-lsp"]
	path = .config/nvim/pack/bundle/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
[submodule "ultisnips"]
	path = .config/nvim/pack/bundle/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim-vinegar"]
	path = .config/nvim/pack/bundle/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "base16-shell"]
	path = .zsh/plugin/base16-shell
	url = https://github.com/chriskempson/base16-shell
	ignore = dirty
[submodule "zsh-syntax-highlighting"]
	path = .zsh/plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	ignore = dirty
[submodule "zsh-autosuggestions"]
	path = .zsh/plugin/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	ignore = dirty
