[alias]
	s  = "!git status -s"
	st = "!git status"

	co = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
	br = "!git branch"

	ff = "!git merge --ff-only"

	ca = "!git add -A && git commit -av"
	ci = "!git commit -v"

	amend = "!git add -A && git commit --amend --no-edit"

	p = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"

	undo   = "!git reset HEAD~1 --mixed"
	hreset = "!git reset HEAD --hard"

	cr = "!git clone --recursive"
	sc = "!git clone --depth=1"

	update = "!git pull --rebase --prune $@ && git submodule update --init --recursive && git submodule update --remote --merge"

	tags     = "!git tag -l"
	branches = "!git branch -a"
	remotes  = "!git remote -v"

	contributors = "!git shortlog --summary --numbered"

	di  = "!d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

	ack = "!git grep --break --heading"

	reb = "!r() { git rebase -i HEAD~$1; }; r"

	fb = "!f() { git branch -a --contains $1; }; f"
	fc = "!f() { git log --pretty=format:'%C(yellow)%h	%Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
	fm = "!f() { git log --pretty=format:'%C(yellow)%h	%Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d; git remote -v update -p"

[branch]
	autosetupmerge = always
	autosetuprebase = local

[branch "master"]
	rebase = true

[color]
	ui = auto

[color "diff-highlight"]
	oldNormal = "red"
	oldHighlight = "red reverse"
	oldReset = "noreverse"
	newNormal = "green"
	newHighlight = "green reverse"
	newReset = "noreverse"

[color "diff"]
	meta = 11
	frag = "magenta"
	commit = "yellow"
	old = "red"
	new = "green"
	whitespace = "red reverse"

[color "interactive"]
	prompt = blue reverse

[color "status"]
	untracked = blue

[core]
	excludesfile = ~/.gitignore
	pager = "diff-so-fancy | less --tabs=4 -RFX"
	attributesfile = ~/.gitattributes

[diff-so-fancy]
	changeHunkIndicators = false
	stripLeadingSymbols = false
	markEmptyLines = false

[diff]
	algorithm = histogram
	compactionHeuristic = true
	renames = copies

[grep]
	lineNumber = true

[help]
	autocorrect = 2

[interactive]
	diffFilter = diff-so-fancy

[log]
	decorate = short

[merge]
	conflictStyle = diff3
	log = 1000

[pager]
	show-branch = true
	status = true

[protocol]
	version = 2

[push]
	default = simple

[rebase]
	autosquash = true

[rerere]
	enabled = true

[status]
	submodulesummary = true

[submodule]
	fetchJobs = 4

[include]
	path = .gitconfig.local
