priority -50

snippet cl "class ... (class)"
${1} class ${2:class_name} {
	${3}
}
endsnippet

snippet main "public static void main(String [] args)"
public static void main(String [] args) {
	${1}
}
endsnippet

snippet println "System.out.println()"
System.out.println(${1});
endsnippet

snippet print "System.out.print()"
System.out.print(${1});
endsnippet

# vim:ft=snippets:
